.admin{
    align-items: center;
    color: red;
    border-color: red;
    background-color: red;

 }
.guest{
    align-items: top;
    background-color: blue;

 }
body{
    background: blue;
 }
.btnbtn-primary active{
    align-items: center;
    
}